.keep-items {
  border: 1px solid red;
}

.keep-details {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3.7em - 50px);
  position: relative;
  padding: 16px;
  color: #000;
}
.keep-details .header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.keep-details .btn-close {
  line-height: 35px;
}
.keep-details .cmps-wrapper {
}
.keep-controls {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.keep-controls i {
  cursor: pointer;
  color: #737373;
  transition: all 0.2s;
  font-size: 24px;
  line-height: 1.2;
  position: relative;
}

.keep-controls i:hover {
  color: #1c1c1c;
}
.keep-controls i.pinned {
  color: blue;
}
.keep-txt {
}
.btn-edit {
  float: right;
  width: 35px;
  border-radius: 50%;
  line-height: 35px;
}
.keep-cmp {
  padding: 8px 0;
  /* display: flow-root; */
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.keep-cmp .item {
  flex-grow: 1;
}
.keep-cmp > .edit:hover {
  opacity: 1;
}

.keep-cmp .replace {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.keep-cmp form {
  padding: 24px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-self: center;
}

.keep-cmp input {
  height: 35px;
  padding: 0 7px;
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 8px;
}

.keep-cmp .input-container {
  margin-right: 8px;
}

.keep-img img {
  max-width: 100%;
}

.keep-audio {
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.todo-item {
  display: flex;
  align-items: center;
  line-height: 2;
  justify-content: space-between;
}
.todo-item > i {
  margin-right: 8px;
  cursor: pointer;
  padding: 8px;
}

.new-todo {
  cursor: pointer;
}
.color-controls {
  position: absolute;
  bottom: 40px;
  left: -10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

.color-controls.hidden {
  /* height: 0; */
  opacity: 0;
  visibility: hidden;
}

.color-controls .color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.keep-details.bg-white,
.color-controls .bg-white {
  background-color: rgba(255, 255, 255, 1);
}
.keep-details.bg-green,
.color-controls .bg-green {
  background-color: rgba(132, 220, 198, 1);
}
.keep-details.bg-light-green,
.color-controls .bg-light-green {
  background-color: rgba(165, 255, 214, 1);
}
.keep-details.bg-light-red,
.color-controls .bg-light-red {
  background-color: rgba(255, 166, 158, 1);
}
.keep-details.bg-red,
.color-controls .bg-red {
  background-color: rgba(255, 104, 107, 1);
}
.keep-edit {
  width: 35px;
  float: right;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.keep-edit:hover {
  opacity: 1;
}
.keep-edit i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: var(--main-div-color);
  color: var(--main-txt-color);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  cursor: pointer;
}
.keep-edit i:hover {
  color: var(--main-div-color);
  /* border-color: var(--main-div-color); */
  background-color: var(--main-txt-color);
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.2);
}
.keep-edit i:nth-child(2) {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.keep-edit:hover i,
.keep-edit i:hover + i {
  visibility: visible;
  opacity: 1;
}
