@import url('./email-list.css');
@import url('./email-details.css');
@import url('./email-compose.css');
@import url('./email-filter.css');

.email-app {
    width: 100%;
}

.btn.btn-email-compose {
    z-index: 5000;
    position: fixed;
    width: 45px;
    height: 45px;
    right: 10px;
    bottom: 40px;
    border-radius: 50%;
}

/* Status (Proggress Bar) */
/* Bootstrap4 cherry-picking */

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--main-div-color);
    text-align: center;
    background-color: var(--main-txt-color);
    transition: width .6s ease;
}

/* .progress-bar::after {
    content: "%";
    padding: 0;
    margin: 0;
    display: inline;
} */