@import url('./email-list.css');
@import url('./email-details.css');

.email-app {
    width: 100%;
}

/* Status (Proggress Bar) */
/* Bootstrap4 cherry-picking */

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width .6s ease;
}

/* .progress-bar::after {
    content: "%";
    padding: 0;
    margin: 0;
    display: inline;
} */