/* Email Details */

.email-details {
    width: 100%;
    color: var(--main-div-color);
}

/* Controls */
.email-controls {
    width: 100%;
    padding: 8px;
    border-bottom: 2px solid var(--main-txt-color);
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); */
}

.email-controls i {
    position: relative;
    color: var(--main-div-color);
    cursor: pointer;
    font-size: 24px;
    line-height: 1.2;
    transition: all 0.3s linear;
}

.email-controls i:hover {
    color: var(--main-txt-color);
}

/* Email Header */
.email-details .email-data {
    flex-wrap: wrap;
    border-bottom: 2px solid #ccc;
}
.email-details h1.email-subject {
    margin: 15px 0;
    font-size: 2em;
}

.email-details .email-sender-name {
    font-weight: 600;
}

.email-details .email-sender-mail {
    font-weight: 300;
}

.email-details .email-addressee {
    padding-bottom: 4px;
}

.email-details .email-body p {
    line-height: 1.25;
    white-space: pre;
}
