/* Email List & Email Preview */

/* Email List */

.email-app .email-list-wrapper {
    margin: 5px;
    flex: 1 1 auto;
}

.email-list li {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

/* Email Preview  */

.email-preview {
    cursor: pointer;
    max-width: 100%;
    padding: 15px;
    transition: all 0.2s linear;
}

.email-preview:hover {
    background: #ddd
}

.email-preview span {
    margin: 0 1px;
    color: var(--main-div-color);
}

.email-preview span.email-sender {
    flex: 0 0 125px;
}

.email-preview span.email-content {
    overflow: hidden;
    text-overflow: ellipsis;    
    white-space: nowrap;
    width: 100%;
}
.email-preview span.email-body {
    display: none;
}

@media (min-width: 780px) {
    .email-preview span.email-body {
        display: inline;
    }
}

.email-preview span.email-body {
    color: #999;
}

.email-preview.bold-weight {
    font-weight: 600;
}
.email-preview.light-weight {
    font-weight: 300;
}
/* Controls */

.email-preview-controls {
    justify-content: flex-end;
    min-width: 100px;
    text-align: right;
}

.email-preview-controls i {
    margin: 0 3px;
    font-size: 18px;
    color: #737373;
    cursor: pointer;
    transition: all 0.3s linear;
}

.email-preview-controls i:hover {
    color: #1c1c1c;
}